body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;
  height: 100%;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.infinite-scroll-component {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 30px;
}
.infinite-scroll-component__outerdiv {
  width: 100%;
}
